attrs==23.2.0
backcall==0.2.0
beautifulsoup4==4.12.3
buoypy==0.0.1
cached-property==1.5.2
cads-api-client==1.4.5
Cartopy @ file:///home/conda/feedstock_root/build_artifacts/cartopy_1614895355200/work
cdsapi==0.7.3
certifi @ file:///home/conda/feedstock_root/build_artifacts/certifi_1707022139797/work/certifi
cftime==1.6.2
charset-normalizer==3.3.2
cloudpickle==2.2.1
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1635519461629/work
dask==2022.2.0
dataretrieval==1.0.1
decorator==5.1.1
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1666389892786/work
fsspec==2023.1.0
graphviz==0.20.1
idna==3.6
imageio==2.31.2
importlib-metadata==6.7.0
ipython==7.34.0
isodate==0.6.1
jedi==0.19.2
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1589548394565/work
kiwisolver @ file:///home/conda/feedstock_root/build_artifacts/kiwisolver_1657953088445/work
llvmlite==0.39.1
locket==1.0.0
lxml==5.2.2
matplotlib==3.0.3
matplotlib-inline==0.1.6
multiurl==0.3.1
munkres==1.1.4
netCDF4==1.5.7
noaa-coops==0.1.9
numba==0.56.4
numpy @ file:///home/conda/feedstock_root/build_artifacts/numpy_1649806299270/work
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1696202382185/work
pandas==1.3.5
parso==0.8.4
partd==1.4.1
pexpect==4.9.0
pickleshare==0.7.5
Pillow @ file:///home/conda/feedstock_root/build_artifacts/pillow_1660385854171/work
platformdirs==4.0.0
prompt_toolkit==3.0.48
protobuf==4.24.4
ptyprocess==0.7.0
Pygments==2.17.2
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1690737849915/work
pyshp @ file:///home/conda/feedstock_root/build_artifacts/pyshp_1659002966020/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
requests-file==2.1.0
requests-toolbelt==1.0.0
scikit-learn==1.0.2
scipy==1.7.1
seaborn==0.11.2
shap==0.42.1
Shapely @ file:///home/conda/feedstock_root/build_artifacts/shapely_1635194349843/work
siphon==0.9
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
slicer==0.0.7
soupsieve==2.4.1
threadpoolctl==3.1.0
toolz==0.12.1
tqdm==4.66.5
traitlets==5.9.0
typing==3.7.4.3
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1688315532570/work
unicodedata2 @ file:///home/conda/feedstock_root/build_artifacts/unicodedata2_1649111917568/work
urllib3==2.0.7
wcwidth==0.2.13
xarray==0.14.1
xgboost==1.6.2
xmltodict==0.13.0
zeep==4.2.1
zipp==3.15.0
